


.panelPaginacionSpacing{
    opacity: 0.7; /*Eliminar*/
    background-color: #000;
    bottom: 0px;
    left: 230px;
    width: 100%;
    height: 42px;
    z-index: 1;
}
.gridPanelPagination{
    opacity: 0.7; /*Eliminar*/
    background-color: #cd0136;
    position: fixed;
    bottom: 0px;
    left: 230px;
    width: calc(100% - 230px);
    height: 40px;
    z-index: 1;
    text-align: right;
}

.gridPanelPagination .paginaNumContenedor{
    position: absolute;
    background-color: #000;
    right: 0px;
}

.gridPanelPagination .paginaNumContenedor .paginaNum{
    height: 40px;
    text-align: center;
    border-style: solid;
    padding-right: 10px;
    padding-left: 10px;
    border-color: #ccc;
    border-width: 0px 0px 0px 2px;
    display: table-cell; 
    vertical-align:middle;
}

.gridPanelPagination .paginaNumContenedor .paginaNum span{
    font-family: "Quicksand-Regular";
    font-size: 13pt;
    color: #fff;
}

.gridPanelPagination .paginaNumContenedor .paginaNum:hover{
    font-family: "Quicksand-Regular";
    font-size: 13pt;
    background-color: #cd0136;
}



#paginaSeleccionada{
    background-color: #cd0136;
}


.dataTables_filter{
    position: fixed;
    left: calc(100% - 320px);
    top: calc(100% - 70px);
    width: 300px;
    z-index: 2;
    color: #fff;
}
.popUp{
    position:fixed;
    --widthB: calc((50% - 280px) + 150px);
    left: var(--widthB);
    top: 140px;
    width: 550px;
    height: 600px;
    z-index: 101;
    background-color: #fff;
    opacity: 0.8;
}
.encabezadoPopUp{
    
}
.cerrarPopUp{
    position: absolute;
    padding: 10px;
    right: 0px;
}
.contenidoPopUp{
    position: absolute;
    padding: 10px;
    top: 30px;
}
.contenidoPopUp div div{
    display: inline-block;
    padding-bottom: 10px;
}
.div1 {
    width: 200px;
    text-align: right;
}
.div2{
    padding-left: 5px;
    width: 300px;
}
#botonEditarRechazo{
    position: absolute;
    background-color: #00a433;
    padding: 10px;
    font-family: "Quicksand-Bold";
    right: 0px;
    color: #fff;
    font-size: 1.1em;
}

#loadingData{
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
}



#contenedorRechazos{  
    position: absolute;
    z-index: 9;
    background-color: #000000;
    opacity: 0.8;
    top: 0px;
    left: 0px;
    height:100%;
    width: 100%;
}

.informetable{
    margin: 10px;
}

.informetable th, .informetable td{
    padding-right: 10px;
    padding-top: 5px;
}