/************************************************************
 *  Nombre del Archivo: interfaz.css
 *
 *  Proposito:  Manejo de Estilos del Portal WEB de Bitacoras.
 *
 *  Autor:    Eduardo Valentín  Chávez Oliveros.
 *  Fabrica:  Avance Solution Corporation.
 * 
 ************************************************************/

/** Fuentes **/
@font-face{
    font-family: 'Quicksand-Bold';
    src: url('../../fonts/quicksand/Quicksand-Bold.otf');
}

@font-face{
    font-family: 'Quicksand-Regular';
    src: url('../../fonts/quicksand/Quicksand-Regular.otf');
}

h1{
    font-family: "Quicksand-Regular";
    position: absolute;
    font-size: 11pt;
    color: #000;
}

h2{
    font-family: "Quicksand-Regular";
    font-size: 10pt;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #000;
}

.noSelect{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#ecoEncabezado{
    opacity: 1; /*Eliminar*/
    position: fixed;
    z-index: 100;
    background-color: #fff;
    top: 0px;
    height: 70px;
    width: 100%;
}

#ecoBarraPrincipal{
    opacity: 1; /*Eliminar*/
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: #f6f6f6;
    top: 70px;
    height: 35px;
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
           box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

#ecoBarraPrincipal #contenedorBotonesBarra{
    position: absolute;
    height: calc(100% - 10px);
    padding: 0px;
    right: 15px;
    font-size: 1.0em;
    font-family: "Quicksand-Regular";
}

#ecoBarraPrincipal #contenedorBotonesBarra #botonDescargar{
  display: inline-block;
  background-color: #b1e7b1;
  height: 100%;
  padding: 8px 10px 2px 10px;
}

#ecoBarraPrincipal #contenedorBotonesBarra #visualizaFecha{
    display: inline-block;
    background-color: #b1e7b1;
    height: 100%;
    padding: 8px 10px 2px 10px;
    margin: 0px 0px 0px 10px;
    right: 15px;
}

/**MENU**/
#ecoMenuPrincipal{
    opacity: 1; /*Eliminar*/
    position: fixed;
    z-index: 100;
    top: 105px;
    width: 170px;
    height: calc(100% - 105px);
    z-index: 9;
    background-color: #e6e6e6;
   -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
           box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}
#ecoMenuPrincipal nav{
    position: absolute;
    width: 100%;
    top: 0px;
}
#ecoMenuPrincipal nav ul{
    list-style:none;
    width: 100%;
    height: 100%;
}
#ecoMenuPrincipal nav ul li{
    position: relative;
    margin-bottom: 1px;
    width: 100%;
    height: 40px;
    padding: 0px;
    background-color: #00a433;
    opacity: 0.8;
}
#ecoMenuPrincipal nav ul li:hover{
    opacity: 1;
}

.iconMenu{
}

#ecoMenuPrincipal nav ul li img{
    position: absolute;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

#ecoMenuPrincipal nav ul li a{
    position: absolute;
    padding-left: 42px;
    padding-top: 13px;
    font-family: "Quicksand-Bold";
    font-size: 10pt;
    text-align: center;
    text-decoration: none;
}
#ecoMenuPrincipal nav ul li.primerNivel{
    background-color: #333333;
}
#ecoMenuPrincipal nav ul li.primerNivel div{
    position: absolute;
    padding-left: 10px;
    padding-top: 10px;
    font-family: "Quicksand-Bold";
    font-size: 13pt;
    text-align: center;
    color: #e6e6e6;
    text-decoration: none;
}

#ecoContenedorCentral{
    position: absolute;
    top: 105px;
    height: calc(100% - 105px);
    left: 170px;
    width: calc(100% - 170px);
}

#ecoContenedorCentralEncabezado{
    opacity: 1; /*Eliminar*/
    position: fixed;
    z-index: 2;
    width: calc(100% - 170px);
    height: 35px;
    background-color: #fff;
    top: 105px;
   -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
           box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}
#ecoContenedorCentralEncabezado .titulo{
    position: absolute;
    font-size: 1.0em;
    font-family: "Quicksand-Bold";
    left: 10px;
    top: 10px;
}

#ecoContenedorContenidoCuerpo{
    position: relative;
    top: 12px;
    width: 100%;
    background-color: #fff;
}

#ecoContenedorContenidoCuerpo .title{
   font-family: "Quicksand-Bold";
   padding: 10px;
   background-color: #01aa4f;
    color: #fff;
}

#ecoContenedorContenidoCuerpo .subTitle {
   font-family: "Quicksand-Bold";
   padding: 10px;
   background-color: #edfae1;
}

#ecoContenedorContenidoCuerpo .contenido{
   font-family: "Quicksand-Regular";
}

.panel{
    display: inline-block;
    vertical-align: top;
    top: 10px;
    border-style: solid;
    border-color: #000;
    background-color: #fff;
    width: 100%;
    overflow: hidden;
   -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
           box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}

.panel .titulo{
    position: absolute;;
    font-family: "Quicksand-Bold";
    font-size: 1.4em;
    color: #000;
    left:10px;
    top: 5px;
}
.panel .periodo{
    position: absolute;;
    font-family: "Quicksand-Regular";
    font-size: 1.1em;
    right: 20px;
    top:8px;
}
.panel .periodo div{
    display: inline-block;    
}

.panel .contenido{
    padding: 5px;
    padding-bottom: 20px;
    font-family: "Quicksand-Regular";
}

.panel .contenido .elementpanel{

}

.panel .contenido .elementpanel div{
    display: inline-block;
    padding-left: 10px;
    padding-top: 10px;
}

.panel .contenido .elementpanel .bold{
    font-family: "Quicksand-Bold";
}

.panel .contenido .elementpanel .sangria{
    font-family: "Quicksand-Bold";
    margin-left: 25px; 
}
/* FILTROS */
.filtroGeneral{
    opacity: 1; /*Eliminar*/
    position: fixed;
    top: 140px;
    z-index: 1;
}
.filtros{
    background-color: #333333;
    border-style: solid;
    border-color: #fff;
    border-width: 0px 0px 1px 0px;
}

.filtros li{
    display: inline-block;
    font-family: "Quicksand-Bold";
    font-size: 0.8em;
    border-style: solid;
    border-color: #fff;
    border-width: 0px 1px 0px 0px;
    padding: 8px 5px 8px 5px;
    margin: 0px;
    color: #fff;
    text-align: center;
    width: 120px;
}
.filtros .filtroSimple{
    background-color: #fe0145;    
}
.filtros .filtroSimple:hover{
    background-color: #cd0136;
}
.filtros .filtroSeleccionado{
    background-color: #cd0136;
}

.filtros .filtroTitulo{
    width: 80px;
    color: #fff;
    background-color: #000;
}

.filtroEspacio{
    position: relative;
    height: 140px;
}
/** Estilos Grid DataTable**/
.dataTables_wrapper th{
    background-color: #cd0136;
    color: #fff;
    border-left: 1px solid;
    font-family: "Quicksand-Bold";
}
.dataTables_wrapper td{
    font-family: "Quicksand-Regular";
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.dataTables_wrapper .even td{
  
}
/*  Actualizaciones*/
.fondoNegro{
    position:fixed;
    left: 170px;
    top: 105px;
    width: calc(100% - 170px);
    height: calc(100% - 100px);
    z-index: 100;
    background-color: #000;
    opacity: 0.8;
}
#loadingData{
    position: absolute;
    left: calc(50% - 25px);
    top: calc(50% - 25px);
}

#calendario{
    font-family: "Quicksand-Regular";
    position: fixed;
    width: 300px;
    background-color: #f8f8f9;
    top: 105px;
    right: 15px;
    z-index: 2;


    border-style: solid;
    border-color: #000;
    overflow: hidden;
   -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
           box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}
#calendario .anio {
    position: relative;
    padding: 20px 15px;
    background: #24be54;
}
#calendario .mes {
    position: relative;
    padding: 20px 15px;
    background: #4ac571;
}
#calendario .title{
    font-family: "Quicksand-Bold";
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
}
#calendario .prev{
    position: absolute;
    left: 10px;
    top: 20px;
}
#calendario .next{
    position: absolute;
    right: 10px;
    top: 20px;
}

#calendario .semana {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

#calendario .semana li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

#calendario .dias {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

#calendario .dias li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:14px;
    color: #777;
    padding: 5px 0px 5px 0px;
}

#calendario .dias li.active {
    font-family: "Quicksand-Bold";
    background: #24be54;
    color: white;
}

#controlProcesos{
   -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
           box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}
.gridCifras td{
    padding: 15px;
    font-size: 1.2em;
}
.tdSis{
    font-family: "Quicksand-Bold";
    width: 150px;
    padding: 0px 10px 0px 10px;
    text-align: right;
}

.tdDesc{
    width: 350px;
    padding: 0px 10px 0px 0px;
}

.tdCif{
    width: 100px;
    padding: 0px 10px 0px 10px;
}
/* ============================================================
  SWITCH 1 - ROUND
============================================================ */
input.cmn-toggle-round + label {
    position: relative;
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.cmn-toggle-round + label:before, input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
    width: 100px;
  right: 1px;
  background-color: #f1f1f1;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 58px;
  background-color: #fff;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: margin 0.4s;
  -moz-transition: margin 0.4s;
  -o-transition: margin 0.4s;
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color: #8ce196;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 60px;
}

.gridTd{

}

.tdSistema{
    
}

.even .tdSistemaEMISION{
  color: #fff;
  background-color: rgba(77, 179, 77, 1);
}

.odd .tdSistemaEMISION{
  color: #fff;
  background-color: rgba(77, 179, 77, 1);
}

.even .tdSistemaSINIESTRO{
  color: #fff;
  background-color: rgba(255, 0, 0, 1);
}

.odd .tdSistemaSINIESTRO{
  color: #fff;
  background-color: rgba(255, 0, 0, 0.8);
}

.even .tdSistemaPREVENCION{
  color: #fff;
  background-color: rgba(255, 128, 0, 1);
}

.odd .tdSistemaPREVENCION{
  color: #fff;
  background-color: rgba(255, 128, 0, 0.8);
}

.even .tdSistemaPPT{
  color: #000;
  background-color: rgba(255, 255, 0, 1);
}

.odd .tdSistemaPPT{
  color: #000;
  background-color: rgba(255, 255, 0, 0.8);
}

.even .tdSistemaRECHAZOS{
  color: #000;
  background-color: rgba(0, 255, 64, 1);
}

.odd .tdSistemaRECHAZOS{
  color: #000;
  background-color: rgba(0, 255, 64, 0.8);
}

.even .tdSistemaSALVAMENTO{
  color: #fff;
  background-color: rgba(255, 0, 191, 1);
}


.odd .tdSistemaSALVAMENTO{
  color: #fff;
  background-color: rgba(255, 0, 191, 0.8);
}

.even .tdOperacion1{
  color: #fff;
  background-color: rgba(77, 179, 77, 1);
}

.odd .tdOperacion1{
  color: #fff;
  background-color: rgba(77, 179, 77, 0.8);
}

.even .tdOperacion2{
  color: #fff;
  background-color: rgba(51, 51, 255, 1);
}

.odd .tdOperacion2{
  color: #fff;
  background-color: rgba(51, 51, 255, 0.8);
}

.even .tdOperacion3{
  color: #fff;
  background-color: rgba(255, 0, 0, 1);
}

.odd .tdOperacion3{
  color: #fff;
  background-color: rgba(255, 0, 0, 0.8);
}

.even .tdOperacion4{
  color: #fff;
  background-color: rgba(255, 128, 0, 1);
}

.odd .tdOperacion4{
  color: #fff;
  background-color: rgba(255, 128, 0, 0.8);
}

.even .tdEstatus-1{
  color: #fff;
  background-color: rgba(255, 0, 0, 1);
}

.odd .tdEstatus-1{
  color: #fff;
  background-color: rgba(255, 0, 0, 0.8);
}

.even .tdEstatus0{
  color: #fff;
  background-color: rgba(77, 179, 77, 1);
}

.odd .tdEstatus0{
  color: #fff;
  background-color: rgba(77, 179, 77, 0.8);
}

.even .tdEstatus1{
  color: #000;
  background-color: rgba(204, 204, 204, 1);
}

.odd .tdEstatus1{
  color: #000;
  background-color: rgba(204, 204, 204, 0.8);
}
.panelPaginacionSpacing{
    opacity: 1; /*Eliminar*/
    background-color: #000;
    bottom: 0px;
    left: 230px;
    width: 100%;
    height: 42px;
    z-index: 1;
}
.gridPanelPagination{
    opacity: 1; /*Eliminar*/
    background-color: #cd0136;
    position: fixed;
    bottom: 0px;
    left: 170px;
    width: calc(100% - 170px);
    height: 40px;
    z-index: 1;
    text-align: right;
}

.gridPanelPagination .paginaNumContenedor{
    position: absolute;
    background-color: #000;
    right: 0px;
}

.gridPanelPagination .paginaNumContenedor .paginaNum{
    height: 40px;
    text-align: center;
    border-style: solid;
    padding-right: 10px;
    padding-left: 10px;
    border-color: #ccc;
    border-width: 0px 0px 0px 2px;
    display: table-cell; 
    vertical-align:middle;
}

.gridPanelPagination .paginaNumContenedor .paginaNum span{
    font-family: "Quicksand-Regular";
    font-size: 13pt;
    color: #fff;
}

.gridPanelPagination .paginaNumContenedor .paginaNum:hover{
    font-family: "Quicksand-Regular";
    font-size: 13pt;
    background-color: #cd0136;
}



#paginaSeleccionada{
    background-color: #cd0136;
}

.tblProcesos{
    margin: 0px 0px 20px 25px;
}

.tblProcesosTr{

}

.tblProcesosTd{
    padding: 0px 25px 10px 0px;
}


.tblProcesosTh{
    padding: 10px 25px 10px 0px;
}

.botonSimple{
  background-color: #b1e7b1;
  padding: 10px 10px 10px 10px;
  color: #000;
  -webkit-border-radius: 5px 10px;
  -moz-border-radius: 5px 10px;
  -ms-border-radius: 5px 10px;
  -o-border-radius: 5px 10px;
  border-radius: 5px 10px;
}

.botonSimple:hover{
  opacity: 0.7;
}

.botonEncendido{
  background-color: #00a433;
  color: #fff;
}

.botonApagado{
  background-color: #cd0136;
  color: #fff;
}

.leyenda{
  padding: 10px 10px 10px 10px;
  background-color: #f6f6f6;
}

.sinResultados{
    font-family: "Quicksand-Regular";
    font-size: 1.4em;
    padding: 100px 10px 100px 10px;
    background-color: #f6f6f6;
    text-align: center;
}

.tablaSistema{
  table-layout: fixed;    
  white-space: nowrap;
}

.gridTh{
    color: #fff;
    font-family: "Quicksand-Regular";
    border: 1px solid #e6e6e6;
    padding: 5px 10px 5px 10px;
    background-color: #000;
}

.gridTd{
    padding: 2px 10px 2px 10px;
    border: 1px solid #e6e6e6;
    font-family: "Quicksand-Regular";
    text-align: center;
}

.thBitacora{
    background-color: #024b02;
}

.tdBitacora{
    background-color: #e1f7e1;
}

.tdVacio{
    background-color: #fbabab;
}

#vgUpdateDiv{
    font-size: 1.0em;
    font-family: "Quicksand-Regular";
    position: absolute;
    top: 70px;
    left: 20px;
    width: calc(100% - 60px);
    background-color: #e1f7e1;
    padding: 10px 10px 10px 10px;
    height: 40px;
    -webkit-border-radius: 5px 10px;
    -moz-border-radius: 5px 10px;
    -ms-border-radius: 5px 10px;
    -o-border-radius: 5px 10px;
    border-radius: 5px 10px;
}

#tablaArchivosDescarga{
    margin-left: 20px;
    background-color: #f6f6f6;
    width: calc(100% - 40px);
    margin-bottom: 10px;
    -webkit-border-radius: 5px 10px;
    -moz-border-radius: 5px 10px;
    -ms-border-radius: 5px 10px;
    -o-border-radius: 5px 10px;
    border-radius: 5px 10px;
}

#tablaArchivosDescarga td{
    height: 18px;
}

#tablaArchivosDescarga a{
    color: #000;
}

#tablaArchivosDescarga a:hover{
    color: #938282;
}