<?xml version="1.0" encoding="UTF-8"?>
<taglib version="2.0" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchemainstance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee web-jsptaglibrary_2_0.xsd">
	<tlib-version>1.0</tlib-version>

	<!-- Etiquetas Midas -->
	<short-name>MidasTags</short-name>
	<uri>/WEB-INF/tld/MidasTag</uri>
	<!-- mensaje -->
	<tag>
		<name>mensaje</name>
		<tagclass>mx.com.afirme.midas.sistema.etiqueta.Mensaje
		</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Encapsula el componente bean:message de struts
			usado
			para mostrar elementos del resource.properties generalmente
	</info>
		<attribute>
			<name>clave</name>
			<required>true</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
	</tag>
	<!-- tabla -->
	<tag>
		<name>tabla</name>
		<tagclass>mx.com.afirme.midas.sistema.etiqueta.Tabla
		</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>Despliega odenadamente un conjunto de datos
	</info>
		<attribute>
			<name>idTabla</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>nombreLista</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>claseDecoradora</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>claseCss</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>urlAccion</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>exportar</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>totalRegistros</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<!-- columna -->
	<tag>
		<name>columna</name>
		<tagclass>mx.com.afirme.midas.sistema.etiqueta.Columna
		</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Despliega los datos que pertenecen a una columna
			de un
			conjunto de datos. Debe utilizarse en conjunto
			con la etiqueta
			'midas:tabla' y nunca sin ella
	</info>
		<attribute>
			<name>propiedad</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>titulo</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>estilo</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>maxCaracteres</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>sorteable</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>formato</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>		
	</tag>
	<!-- Entrada de Texto -->
	<tag>
		<name>texto</name>
		<tagclass>mx.com.afirme.midas.sistema.etiqueta.EntradaTexto
		</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Una simple caja de texto
	</info>
		<attribute>
			<name>propiedadFormulario</name>
			<required>true</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>caracteres</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>nombreFormulario</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>deshabilitado</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>soloLectura</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>longitud</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>onchange</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>	
		<attribute>
			<name>id</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onkeypress</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>	
		<attribute>
			<name>onblur</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>			
		<attribute>
			<name>onfocus</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onkeydown</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>						
	</tag>
		<!-- Área de Texto -->
	<tag>
		<name>areatexto</name>
		<tagclass>mx.com.afirme.midas.sistema.etiqueta.AreaTexto
		</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Una simple área de texto
	</info>
		<attribute>
			<name>nombreFormulario</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>columnas</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>deshabilitado</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>id</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>caracteres</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>propiedadFormulario</name>
			<required>true</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>onBlur</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>								
		<attribute>
			<name>onChange</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>			
		<attribute>
			<name>onClick</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onFocus</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>	
		<attribute>
			<name>onKeyDown</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>renglones</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>onkeypress</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>								
	</tag>
	<!-- Entrada de Texto Cifrado-->
	<tag>
		<name>password</name>
		<tagclass>mx.com.afirme.midas.sistema.etiqueta.EntradaTextoCifrado
		</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Una simple caja de texto cifrada que muestra
			al usuario un
			asterisco por cada caracter introducido
	</info>
		<attribute>
			<name>propiedadFormulario</name>
			<required>true</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>caracteres</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>nombreFormulario</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>deshabilitado</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>longitud</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>estilo</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
	</tag>
	<!-- Entrada de Texto Oculto-->
	<tag>
		<name>oculto</name>
		<tagclass>mx.com.afirme.midas.sistema.etiqueta.EntradaTextoOculto
		</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Una simple caja de texto que no es mostrada en la interfaz
		</info>
		<attribute>
			<name>propiedadFormulario</name>
			<required>true</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>nombreFormulario</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
	</tag>
	<!-- Formulario-->
	<tag>
		<name>formulario</name>
		<tagclass>mx.com.afirme.midas.sistema.etiqueta.Formulario
		</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>Envuelve a componentes midas creando un formulario,
			recibe como parametro la accion que se ejecuta al momento
			de pulsar un
			boton submit
	</info>
		<attribute>
			<name>accion</name>
			<required>true</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
	</tag>
	<!-- Boton Sumbit-->
	<tag>
		<name>enviar</name>
		<tagclass>mx.com.afirme.midas.sistema.etiqueta.BotonSubmit
		</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>Boton que envia los datos del formulario a la accion
			definida
			en la etiqueta form, es necesario que este incluido dentro
			del formulario y nunca fuera
	</info>
	</tag>
	<!-- Boton Limpiar Formulario-->
	<tag>
		<name>limpiar</name>
		<tagclass>mx.com.afirme.midas.sistema.etiqueta.BotonLimpiarFormulario
		</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>Boton que limpia los datos contenidos en el formulario,
			es
			necesario que este incluido dentro del formulario y nunca fuera
		</info>

	</tag>
	<!-- Boton de Radio-->
	<tag>
		<name>radio</name>
		<tagclass>mx.com.afirme.midas.sistema.etiqueta.Radio
		</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>Seleccion
	</info>
		<attribute>
			<name>propiedadFormulario</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>valorEstablecido</name>
			<required>true</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>onClick</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>deshabilitado</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
	</tag>
	<!-- Boton de Checkbox-->
	<tag>
		<name>checkBox</name>
		<tagclass>mx.com.afirme.midas.sistema.etiqueta.CheckBox
		</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>Seleccion
	</info>
		<attribute>
			<name>propiedadFormulario</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>valorEstablecido</name>
			<required>true</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>deshabilitado</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onClick</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>id</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<!-- escribe -->
	<tag>
		<name>escribe</name>
		<tagclass>mx.com.afirme.midas.sistema.etiqueta.Escribe
		</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Encapsula el componente bean:write de struts
			usado para
			mostrar el valor perteneciente a una propiedad
			del dataForm asignado
			en el formulario. Debe de usuarse dentro
			de la etiqueta formulario
		</info>
		<attribute>
			<name>propiedad</name>
			<required>true</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>nombre</name>
			<required>true</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>formato</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>local</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
	</tag>
	<!-- Combo Simple -->
	<tag>
		<name>combo</name>
		<tagclass>mx.com.afirme.midas.sistema.etiqueta.ComboSimple
		</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>Una lista desplegable. Es necesario escribir en el cuerpo
			una
			etiqueta opcionCombo por cada elemento que se quiera
			introducir en la
			lista
	</info>
		<attribute>
			<name>id</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>propiedad</name>
			<required>true</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>nombreFormulario</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>deshabilitado</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleClass</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onblur</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onchange</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<!-- opcion Combo -->
	<tag>
		<name>opcionCombo</name>
		<tagclass>mx.com.afirme.midas.sistema.etiqueta.OpcionComboSimple
		</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>Representa un item de seleccion, dentro de un combo.
		</info>
		<attribute>
			<name>valor</name>
			<required>true</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
	</tag>
	<!-- Pais -->
	<tag>
		<name>pais</name>
		<tagclass>mx.com.afirme.midas.sistema.combos.etiqueta.Pais
		</tagclass>
		<bodycontent>empty</bodycontent>
		<attribute>
			<name>nombre</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>propiedad</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onchange</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>size</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleClass</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleId</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>readonly</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<!-- Estado -->
	<tag>
		<name>estado</name>
		<tagclass>mx.com.afirme.midas.sistema.combos.etiqueta.Estado
		</tagclass>
		<bodycontent>empty</bodycontent>
		<attribute>
			<name>nombre</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>propiedad</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>pais</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onchange</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>size</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleClass</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleId</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>readonly</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<!-- Ciudad -->
	<tag>
		<name>ciudad</name>
		<tagclass>mx.com.afirme.midas.sistema.combos.etiqueta.Ciudad
		</tagclass>
		<bodycontent>empty</bodycontent>
		<attribute>
			<name>nombre</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>propiedad</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>estado</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onchange</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>size</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleClass</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleId</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>readonly</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<!-- Municipio -->
	<tag>
		<name>municipio</name>
		<tagclass>mx.com.afirme.midas.sistema.combos.etiqueta.Municipio
		</tagclass>
		<bodycontent>empty</bodycontent>
		<attribute>
			<name>nombre</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>propiedad</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>estado</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onchange</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>size</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleClass</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleId</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>readonly</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>colonia</name>
		<tagclass>
			mx.com.afirme.midas.sistema.combos.etiqueta.Colonia
		</tagclass>
		<bodycontent>empty</bodycontent>
		<attribute>
			<name>nombre</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>propiedad</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>ciudad</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onchange</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>size</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleClass</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleId</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>readonly</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<!-- Ramo -->
	<tag>
		<name>ramo</name>
		<tagclass>mx.com.afirme.midas.sistema.combos.etiqueta.Ramo
		</tagclass>
		<bodycontent>empty</bodycontent>
		<attribute>
			<name>nombre</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>propiedad</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onchange</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>size</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleClass</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleId</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>readonly</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>claveNegocio</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	
	<!-- Ramo RCS-->
	<tag>
		<name>ramorcs</name>
		<tagclass>mx.com.afirme.midas.sistema.combos.etiqueta.RamoRCS
		</tagclass>
		<bodycontent>empty</bodycontent>
		<attribute>
			<name>nombre</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>propiedad</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onchange</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>size</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleClass</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleId</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>readonly</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>claveNegocio</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
		<!-- Tipo Moneda -->
	<tag>
		<name>moneda</name>
		<tagclass>mx.com.afirme.midas.sistema.combos.etiqueta.Moneda
		</tagclass>
		<bodycontent>empty</bodycontent>
		<attribute>
			<name>nombre</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>propiedad</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onchange</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>size</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleClass</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleId</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>readonly</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<!-- SubRamo -->
	<tag>
		<name>subramo</name>
		<tagclass>
			mx.com.afirme.midas.sistema.combos.etiqueta.SubRamo
		</tagclass>
		<bodycontent>empty</bodycontent>
		<attribute>
			<name>nombre</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>propiedad</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>ramo</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onchange</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>size</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleClass</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleId</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>readonly</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<!-- Check-->	
	<tag>
		<name>check</name>
		<tagclass>mx.com.afirme.midas.sistema.etiqueta.Check
		</tagclass>
		<bodycontent>JSP</bodycontent>
		<info>Midas Check box</info>
		<attribute>
			<name>propiedadFormulario</name>
			<required>true</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>id</name>
			<required>true</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>
		<attribute>
			<name>onClick</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>		
		<attribute>
			<name>onClick</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>	
		<attribute>
			<name>nombreFormulario</name>
			<required>false</required>
			<rtexprvalue>false</rtexprvalue>
		</attribute>	
		<attribute>
			<name>deshabilitado</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>					
	</tag>	
	<!-- mensaje -->
	<tag>
		<name>mensajeUsuario</name>
		<tagclass>mx.com.afirme.midas.sistema.etiqueta.MensajeUsuario
		</tagclass>
		<bodycontent>empty</bodycontent>
		<info>Muestra un mensaje lanzado desde
				un action al usuario
		</info>
	</tag>
	<!-- TipoMontajeMaquina -->
	<tag>
		<name>tipoMontajeMaquina</name>
		<tagclass>mx.com.afirme.midas.sistema.combos.etiqueta.TipoMontajeMaquina
		</tagclass>
		<bodycontent>empty</bodycontent>
		<attribute>
			<name>nombre</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>propiedad</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onchange</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>size</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleClass</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleId</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>readonly</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<!-- Combo Catálogo-->
	<tag>
		<name>comboCatalogo</name>
		<tagclass>mx.com.afirme.midas.sistema.combos.etiqueta.ComboCatalogo
		</tagclass>
		<bodycontent>empty</bodycontent>
		<attribute>
			<name>nombre</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>propiedad</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onchange</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>size</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleClass</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleId</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>readonly</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>nombreCatalogo</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>idCatalogo</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>descripcionCatalogo</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<!-- ReaseguradorCorredor -->
	<tag>
		<name>reaseguradorCorredor</name>
		<tagclass>mx.com.afirme.midas.sistema.combos.etiqueta.ReaseguradorCorredor
		</tagclass>
		<bodycontent>empty</bodycontent>
		<attribute>
			<name>nombre</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>propiedad</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>tipo</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onchange</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>size</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleClass</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleId</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>readonly</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<!-- Calificacion Reasegurador -->
	<tag>
		<name>calificacionCNSF</name>
		<tagclass>mx.com.afirme.midas.sistema.combos.etiqueta.CalificacionesReas
		</tagclass>
		<bodycontent>empty</bodycontent>
		<attribute>
			<name>nombre</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>propiedad</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onchange</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>size</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleClass</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleId</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>readonly</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>agenciaCalificacion</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<!-- Agencia Califica -->
	<tag>
		<name>agenciaCalificacion</name>
		<tagclass>mx.com.afirme.midas.sistema.combos.etiqueta.AgenciasCalificadoras
		</tagclass>
		<bodycontent>empty</bodycontent>
		<attribute>
			<name>nombre</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>propiedad</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onchange</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>size</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleClass</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleId</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>readonly</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<!-- CuentaBanco -->
	<tag>
		<name>cuentaBanco</name>
		<tagclass>mx.com.afirme.midas.sistema.combos.etiqueta.CuentaBanco
		</tagclass>
		<bodycontent>empty</bodycontent>
		<attribute>
			<name>nombre</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>propiedad</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>moneda</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>reaseguradorCorredor</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onchange</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>size</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleClass</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleId</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>readonly</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<!-- CuentaBanco -->
	<tag>
		<name>contacto</name>
		<tagclass>mx.com.afirme.midas.sistema.combos.etiqueta.Contacto
		</tagclass>
		<bodycontent>empty</bodycontent>
		<attribute>
			<name>nombre</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>propiedad</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>		
		<attribute>
			<name>reaseguradorCorredor</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onchange</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>size</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleClass</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleId</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>readonly</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<!-- Tarifa -->
	<tag>
		<name>tarifa</name>
		<tagclass>mx.com.afirme.midas.sistema.combos.etiqueta.Tarifa
		</tagclass>
		<bodycontent>empty</bodycontent>
		<attribute>
			<name>nombre</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>propiedad</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>	
		<attribute>
			<name>idBase</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>	
		<attribute>
			<name>onchange</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onblur</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>		
		<attribute>
			<name>size</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleClass</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleId</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>readonly</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<!-- Etiqueta Tarifa -->
	<tag>
		<name>etiquetaTarifa</name>
		<tagclass>mx.com.afirme.midas.sistema.etiqueta.Tarifa
		</tagclass>
		<bodycontent>empty</bodycontent>
		<attribute>
			<name>nombre</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>	
		<attribute>
			<name>idBase</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>	
	</tag>
	<!-- Boton -->
	<tag>
		<name>boton</name>
		<tagclass>
			mx.com.afirme.midas.sistema.etiqueta.Boton
		</tagclass>
		<bodycontent>empty</bodycontent>
		<info>
			Muestra un Boton del sistema Midas
		</info>
		<attribute>
			<name>texto</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>tipo</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onclick</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>ondblclick</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>style</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>key</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>	
			<!-- escribeCatalogo -->
	<tag>
		<name>escribeCatalogo</name>
		<tagclass>mx.com.afirme.midas.sistema.combos.etiqueta.EscribeCatalogo
		</tagclass>
		<bodycontent>empty</bodycontent>
		<attribute>
			<name>nombre</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>propiedad</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>clase</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onchange</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>size</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleClass</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleId</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>readonly</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
		
	<!-- combo para catalogoValorFijo-->
	<tag>
		<name>comboValorFijo</name>
		<tagclass>mx.com.afirme.midas.sistema.combos.etiqueta.CatalogoValorFijo</tagclass>
		<bodycontent>empty</bodycontent>
		<attribute>
			<name>nombre</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>grupoValores</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>propiedad</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onchange</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>size</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleClass</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleId</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>readonly</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>valoresExcluidos</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>		
	</tag>
	<!-- Tipo Vehiculo -->
	<tag>
		<name>tipoVehiculo</name>
		<tagclass>mx.com.afirme.midas.sistema.combos.etiqueta.TipoVehiculo
		</tagclass>
		<bodycontent>empty</bodycontent>
		<attribute>
			<name>nombre</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>propiedad</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>tipoBien</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onchange</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>size</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleClass</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleId</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>readonly</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
		<!-- Marca Vehiculo -->
	<tag>
		<name>marcaVehiculo</name>
		<tagclass>mx.com.afirme.midas.sistema.combos.etiqueta.MarcaVehiculo
		</tagclass>
		<bodycontent>empty</bodycontent>
		<attribute>
			<name>nombre</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>propiedad</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>tipoVehiculo</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onchange</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>size</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleClass</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleId</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>readonly</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<!-- SubMarca Vehiculo -->
	<tag>
		<name>submarcaVehiculo</name>
		<tagclass>mx.com.afirme.midas.sistema.combos.etiqueta.SubMarcaVehiculo
		</tagclass>
		<bodycontent>empty</bodycontent>
		<attribute>
			<name>nombre</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>propiedad</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>marcaVehiculo</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onchange</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>size</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleClass</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleId</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>readonly</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>	
	
			<!-- Estilo Vehiculo -->
	<tag>
		<name>estiloVehiculo</name>
		<tagclass>mx.com.afirme.midas.sistema.combos.etiqueta.EstiloVehiculo
		</tagclass>
		<bodycontent>empty</bodycontent>
		<attribute>
			<name>nombre</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>propiedad</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>tipoVehiculo</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
			<attribute>
			<name>marcaVehiculo</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>versionCarga</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onchange</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>size</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleClass</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleId</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>readonly</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<!-- Version Carga-->
	<tag>
		<name>versionCarga</name>
		<tagclass>mx.com.afirme.midas.sistema.combos.etiqueta.VersionCarga
		</tagclass>
		<bodycontent>empty</bodycontent>
		<attribute>
			<name>nombre</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>propiedad</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>tipoBien</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>tipoVehiculo</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
			<attribute>
			<name>marcaVehiculo</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>onchange</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>size</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleClass</name>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>styleId</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>readonly</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
</taglib>

