/* "DHX BLACK" SKIN */

/* inner table*/
div.dhtmlx_window_active table.dhtmlx_wins_dhx_blue {
	background: none;
}
div.dhtmlx_window_inactive table.dhtmlx_wins_dhx_blue {
	background: none;
}
/* this brokes grid's cells coloring */
/*
div.dhtmlx_window_active table.dhtmlx_wins_dhx_blue td {
	background: none;
}
div.dhtmlx_window_inactive table.dhtmlx_wins_dhx_blue td {
	background: none;
}
*/

/* HEADER */

/* full header td */
div.dhtmlx_window_active table.dhtmlx_wins_dhx_blue td.dhtmlx_wins_td_header_full {
	height: 21px;
	-moz-user-select: none;
	cursor: default;
	font-size: 2px;
}
div.dhtmlx_window_inactive table.dhtmlx_wins_dhx_blue td.dhtmlx_wins_td_header_full {
	height: 21px;
	-moz-user-select: none;
	cursor: default;
	font-size: 2px;
}
div.dhtmlx_window_active table.dhtmlx_wins_dhx_blue td.dhtmlx_wins_td_header_full table.dhtmlx_wins_header {
	height: 21px;
	-moz-user-select: none;
	cursor: default;
}
div.dhtmlx_window_inactive table.dhtmlx_wins_dhx_blue td.dhtmlx_wins_td_header_full table.dhtmlx_wins_header {
	height: 21px;
	-moz-user-select: none;
	cursor: default;
}

/* header left side */
div.dhtmlx_window_active table.dhtmlx_wins_dhx_blue td.dhtmlx_wins_td_header_full table.dhtmlx_wins_header td.dhtmlx_wins_td_header_left {
	height: 21px;
	width: 2px;
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/header_left.gif");
	background-position: bottom;
	background-repeat: no-repeat;
	cursor: default;
	font-size: 2px;
}
div.dhtmlx_window_inactive table.dhtmlx_wins_dhx_blue td.dhtmlx_wins_td_header_full table.dhtmlx_wins_header td.dhtmlx_wins_td_header_left {
	height: 21px;
	width: 2px;
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/header_left.gif");
	background-position: bottom;
	background-repeat: no-repeat;
	cursor: default;
	font-size: 2px;
}
/* header middle side */
div.dhtmlx_window_active table.dhtmlx_wins_dhx_blue td.dhtmlx_wins_td_header_full table.dhtmlx_wins_header td.dhtmlx_wins_td_header_middle {
	height: 21px;
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/header_middle.gif");
	background-position: bottom;
	background-repeat: repeat-x;
	cursor: default;
	font-size: 2px;
}
div.dhtmlx_window_inactive table.dhtmlx_wins_dhx_blue td.dhtmlx_wins_td_header_full table.dhtmlx_wins_header td.dhtmlx_wins_td_header_middle {
	height: 21px;
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/header_middle.gif");
	background-position: bottom;
	background-repeat: repeat-x;
	cursor: default;
	font-size: 2px;
}
/* header right side */
div.dhtmlx_window_active table.dhtmlx_wins_dhx_blue td.dhtmlx_wins_td_header_full table.dhtmlx_wins_header td.dhtmlx_wins_td_header_right {
	height: 21px;
	width: 2px;
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/header_right.gif");
	background-position: bottom;
	background-repeat: no-repeat;
	cursor: default;
	font-size: 2px;
}
div.dhtmlx_window_inactive table.dhtmlx_wins_dhx_blue td.dhtmlx_wins_td_header_full table.dhtmlx_wins_header td.dhtmlx_wins_td_header_right {
	height: 21px;
	width: 2px;
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/header_right.gif");
	background-position: bottom;
	background-repeat: no-repeat;
	cursor: default;
	font-size: 2px;
}

/* BODY */

/*
div.dhtmlx_window_active table.dhtmlx_wins_dhx_blue td.td_body_full table.body td {
	font-size: 1px;
}
div.dhtmlx_window_inactive table.dhtmlx_wins_dhx_blue td.td_body_full table.body td {
	font-size: 1px;
}
*/

div.dhtmlx_window_active table.dhtmlx_wins_dhx_blue td.dhtmlx_wins_td_body_full table.dhtmlx_wins_body td.dhtmlx_wins_body_border_middle_left {
	width: 2px;
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/body_middle_left.gif");
	background-repeat: repeat-y;
	-moz-user-select: none;
	font-size: 2px;
}
div.dhtmlx_window_inactive table.dhtmlx_wins_dhx_blue td.dhtmlx_wins_td_body_full table.dhtmlx_wins_body td.dhtmlx_wins_body_border_middle_left {
	width: 2px;
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/body_middle_left.gif");
	background-repeat: repeat-y;
	-moz-user-select: none;
	font-size: 2px;
}
div.dhtmlx_window_active table.dhtmlx_wins_dhx_blue td.dhtmlx_wins_td_body_full table.dhtmlx_wins_body td.dhtmlx_wins_body_content {
	font-family: Tahoma;
	font-size: 10px;
	color: #000000;
	font-weight: normal;
	background-color: #FFFFFF;
	overflow: hidden;
}
div.dhtmlx_window_inactive table.dhtmlx_wins_dhx_blue td.dhtmlx_wins_td_body_full table.dhtmlx_wins_body td.dhtmlx_wins_body_content {
	font-family: Tahoma;
	font-size: 10px;
	color: #000000;
	font-weight: normal;
	background-color: #FFFFFF;
	overflow: hidden;
}
div.dhtmlx_window_active table.dhtmlx_wins_dhx_blue td.dhtmlx_wins_td_body_full table.dhtmlx_wins_body td.dhtmlx_wins_body_content div.dhtmlx_wins_body_content {
	/* width: 100%; */
	position: relative;
	font-family: Tahoma;
	font-size: 10px;
	color: #000000;
	font-weight: normal;
	background-color: #FFFFFF;
	overflow: hidden;
}
div.dhtmlx_window_inactive table.dhtmlx_wins_dhx_blue td.dhtmlx_wins_td_body_full table.dhtmlx_wins_body td.dhtmlx_wins_body_content div.dhtmlx_wins_body_content {
	/* width: 100%; */
	position: relative;
	font-family: Tahoma;
	font-size: 10px;
	color: #000000;
	font-weight: normal;
	background-color: #FFFFFF;
	overflow: hidden;
}
div.dhtmlx_window_active table.dhtmlx_wins_dhx_blue td.dhtmlx_wins_td_body_full table.dhtmlx_wins_body td.dhtmlx_wins_body_border_middle_right {
	width: 2px;
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/body_middle_right.gif");
	background-repeat: repeat-y;
	-moz-user-select: none;
	font-size: 1px;
}
div.dhtmlx_window_inactive table.dhtmlx_wins_dhx_blue td.dhtmlx_wins_td_body_full table.dhtmlx_wins_body td.dhtmlx_wins_body_border_middle_right {
	width: 2px;
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/body_middle_right.gif");
	background-repeat: repeat-y;
	-moz-user-select: none;
	font-size: 1px;
}
div.dhtmlx_window_active table.dhtmlx_wins_dhx_blue td.dhtmlx_wins_td_body_full table.dhtmlx_wins_body td.dhtmlx_wins_body_border_bottom_left {
	width: 2px;
	height: 2px;
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/body_bottom_left.gif");
	background-repeat: no-repeat;
	-moz-user-select: none;
	font-size: 1px;
}
div.dhtmlx_window_inactive table.dhtmlx_wins_dhx_blue td.dhtmlx_wins_td_body_full table.dhtmlx_wins_body td.dhtmlx_wins_body_border_bottom_left {
	width: 2px;
	height: 2px;
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/body_bottom_left.gif");
	background-repeat: no-repeat;
	-moz-user-select: none;
	font-size: 1px;
}
div.dhtmlx_window_active table.dhtmlx_wins_dhx_blue td.dhtmlx_wins_td_body_full table.dhtmlx_wins_body td.dhtmlx_wins_body_border_bottom_middle {
	height: 2px;
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/body_bottom_middle.gif");
	background-repeat: repeat-x;
	-moz-user-select: none;
	font-size: 1px;
}
div.dhtmlx_window_inactive table.dhtmlx_wins_dhx_blue td.dhtmlx_wins_td_body_full table.dhtmlx_wins_body td.dhtmlx_wins_body_border_bottom_middle {
	height: 2px;
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/body_bottom_middle.gif");
	background-repeat: repeat-x;
	-moz-user-select: none;
	font-size: 1px;
}
div.dhtmlx_window_active table.dhtmlx_wins_dhx_blue td.dhtmlx_wins_td_body_full table.dhtmlx_wins_body td.dhtmlx_wins_body_border_bottom_right {
	width: 2px;
	height: 2px;
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/body_bottom_right.gif");
	background-repeat: no-repeat;
	-moz-user-select: none;
	font-size: 1px;
}
div.dhtmlx_window_inactive table.dhtmlx_wins_dhx_blue td.dhtmlx_wins_td_body_full table.dhtmlx_wins_body td.dhtmlx_wins_body_border_bottom_right {
	width: 2px;
	height: 2px;
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/body_bottom_right.gif");
	background-repeat: no-repeat;
	-moz-user-select: none;
	font-size: 1px;
}

/* TITLE */

div.dhtmlx_window_active div.dhtmlx_wins_title_dhx_blue {
	position: absolute;
	top: 4px;
	left: 22px;
	/*color: #055A78;*/
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	cursor: default;
	white-space: nowrap;
	overflow: hidden;
	-moz-user-select: none;
}
div.dhtmlx_window_inactive div.dhtmlx_wins_title_dhx_blue {
	position: absolute;
	top: 4px;
	left: 22px;
	color: #A9AAAB;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	cursor: default;
	white-space: nowrap;
	overflow: hidden;
	-moz-user-select: none;
}

/* ICON */

div.dhtmlx_window_active img.dhtmlx_wins_icon_dhx_blue {
	position: absolute;
	top: 6px;
	left: 8px;
	width: 9px;
	height: 9px;
	border: none;
	-moz-user-select: none;
}
div.dhtmlx_window_inactive img.dhtmlx_wins_icon_dhx_blue {
	position: absolute;
	top: 6px;
	left: 8px;
	width: 9px;
	height: 9px;
	border: none;
	-moz-user-select: none;
}

/* BUTTONS */

div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue {
	position: absolute;
	right: 5px;
	top: 2px;
	height: 16px;
	border: none;
	background: none;
	-moz-user-select: none;
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue {
	position: absolute;
	right: 5px;
	top: 2px;
	height: 16px;
	border: none;
	background: none;
	-moz-user-select: none;
}

div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td.dhtmlx_wins_btn_visible {
	width: 17px;
	text-align: left;
	cursor: default;
	-moz-user-select: none;
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td.dhtmlx_wins_btn_visible {
	width: 17px;
	text-align: left;
	cursor: default;
	-moz-user-select: none;
}

div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td.dhtmlx_wins_btn_hidden {
	display: none;
	width: 17px;
	text-align: left;
	cursor: default;
	-moz-user-select: none;
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td.dhtmlx_wins_btn_hidden {
	display: none;
	width: 17px;
	text-align: left;
	cursor: default;
	-moz-user-select: none;
}

div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div {
	width: 17px;
	height: 16px;
	-moz-user-select: none;
	background-repeat: no-repeat;
	cursor: default;
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div {
	width: 17px;
	height: 16px;
	-moz-user-select: none;
	background-repeat: no-repeat;
	cursor: default;
}

/* park */
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_park_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_default/btn_park.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_park_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_default/btn_park.gif");
}
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_park_disabled {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_disabled/btn_park.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_park_disabled {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_disabled/btn_park.gif");
}
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_park_over_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_over_default/btn_park.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_park_over_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_over_default/btn_park.gif");
}
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_park_over_pressed {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_over_pressed/btn_park.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_park_over_pressed {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_over_pressed/btn_park.gif");
}

/* minmax maximize */
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_minmax1_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_default/btn_minmax1.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_minmax1_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_default/btn_minmax1.gif");
}
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_minmax1_disabled {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_disabled/btn_minmax1.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_minmax1_disabled {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_disabled/btn_minmax1.gif");
}
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_minmax1_over_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_over_default/btn_minmax1.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_minmax1_over_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_over_default/btn_minmax1.gif");
}
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_minmax1_over_pressed {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_over_pressed/btn_minmax1.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_minmax1_over_pressed {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_over_pressed/btn_minmax1.gif");
}

/* minmax restore */
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_minmax2_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_default/btn_minmax2.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_minmax2_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_default/btn_minmax2.gif");
}
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_minmax2_disabled {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_disabled/btn_minmax2.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_minmax2_disabled {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_disabled/btn_minmax2.gif");
}
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_minmax2_over_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_over_default/btn_minmax2.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_minmax2_over_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_over_default/btn_minmax2.gif");
}
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_minmax2_over_pressed {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_over_pressed/btn_minmax2.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_minmax2_over_pressed {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_over_pressed/btn_minmax2.gif");
}

/* close */
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_close_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_default/btn_close.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_close_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_default/btn_close.gif");
}
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_close_disabled {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_disabled/btn_close.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_close_disabled {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_disabled/btn_close.gif");
}
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_close_over_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_over_default/btn_close.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_close_over_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_over_default/btn_close.gif");
}
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_close_over_pressed {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_over_pressed/btn_close.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_close_over_pressed {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_over_pressed/btn_close.gif");
}

/* help */
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_help_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_default/btn_help.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_help_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_default/btn_help.gif");
}
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_help_disabled {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_disabled/btn_help.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_help_disabled {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_disabled/btn_help.gif");
}
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_help_over_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_over_default/btn_help.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_help_over_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_over_default/btn_help.gif");
}
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_help_over_pressed {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_over_pressed/btn_help.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_help_over_pressed {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_over_pressed/btn_help.gif");
}

/* stick */
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_stick_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_default/btn_stick.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_stick_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_default/btn_stick.gif");
}
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_stick_disabled {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_disabled/btn_stick.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_stick_disabled {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_disabled/btn_stick.gif");
}
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_stick_over_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_over_default/btn_stick.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_stick_over_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_over_default/btn_stick.gif");
}
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_stick_over_pressed {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_over_pressed/btn_stick.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_stick_over_pressed {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_over_pressed/btn_stick.gif");
}

/* sticked */
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_sticked_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_default/btn_sticked.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_sticked_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_default/btn_sticked.gif");
}
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_sticked_disabled {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_disabled/btn_sticked.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_sticked_disabled {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_disabled/btn_sticked.gif");
}
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_sticked_over_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_over_default/btn_sticked.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_sticked_over_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_over_default/btn_sticked.gif");
}
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_sticked_over_pressed {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_over_pressed/btn_sticked.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_sticked_over_pressed {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_over_pressed/btn_sticked.gif");
}

/* dock (user button, used in layout) */
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_dock_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_default/btn_dock.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_dock_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_default/btn_dock.gif");
}
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_dock_disabled {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_disabled/btn_dock.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_dock_disabled {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_disabled/btn_dock.gif");
}
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_dock_over_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_over_default/btn_dock.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_dock_over_default {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_over_default/btn_dock.gif");
}
div.dhtmlx_window_active div.dhtmlx_wins_buttons_dhx_blue table td div.button_dock_over_pressed {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/btns_over_pressed/btn_dock.gif");
}
div.dhtmlx_window_inactive div.dhtmlx_wins_buttons_dhx_blue table td div.button_dock_over_pressed {
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/btns_over_pressed/btn_dock.gif");
}

/* PROGRESS */
div.dhtmlx_window_active div.dhtmlx_wins_progress_dhx_blue {
	position: absolute;
	top: 5px;
	left: 6px;
	width: 11px;
	height: 11px;
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/active/progress.gif");
	background-repeat: no-repeat;
}
div.dhtmlx_window_inactive div.dhtmlx_wins_progress_dhx_blue {
	position: absolute;
	top: 5px;
	left: 6px;
	width: 11px;
	height: 11px;
	background-image: url("/MidasWeb/img/dhxwindow/dhxwins_dhx_blue/inactive/progress.gif");
	background-repeat: no-repeat;
}

/* dhtmlxStatusBar */
div.dhtmlxWebStatusBarInWin_dhx_blue {
	position: absolute;
	bottom: 0px;
	abottom=2px;
	overflow: hidden;
	width=100%;
	left: 0px;
	right: 0px;
	/*background-color: #D3E2E5;*/
	background-color: #EDFAE1;
	border-top: #C2D9EB 1px solid;
	vertical-align: middle;
	font-family: Tahoma;
	font-size: 11px;
	padding-left: 4px;
	padding-right: 4px;
	line-height: 17px;
	line-height=16px;
	color: #444444;
	height: 40px;
	margin-top=-2px;
	font-weight: normal;
	cursor: default;
	-moz-user-select: none;
}
div.dhtmlx_window_inactive .dhx_tablist_zone, div.dhtmlx_window_active .dhx_tablist_zone{
	/*background-color:#D3E2E5;*/
	background-color: #EDFAE1;
}