.dhtmlxcalendar_yahoolike {
	background: url(../imgs/__dhxCal_skin_Yahoolike/cal_bg_single.gif) no-repeat;
	border: 1px solid gray;
	font-family: Arial, Helvetica, sans-serif;
	font-size:small;
	background-color: #f7f9fb;
	width:178px;
	height:166px;
	padding:5px;
	z-index:99;
}

.dhtmlxcalendar_yahoolike_mini {
  background-color: #f7f9fb;
  height:13px;
}

.dhtmlxcalendar_yahoolike_maxi {
  height:178px;
}

.dhtmlxcalendar_yahoolike_ifr,
.dhtmlxcalendar_yahoolike_mini_ifr,
.dhtmlxcalendar_yahoolike_maxi_ifr {
  height:166px;
  width:188px
}

.dhtmlxcalendar_yahoolike_maxi_ifr {
  height:195px;
}

.dhtmlxcalendar_yahoolike_mini_ifr {
  height:26px;
}

.dhtmlxcalendar_yahoolike_mini .winHeader{
  -moz-user-select: none;
}

.dhtmlxcalendar_yahoolike .winHeader {
  height: 16px;

  margin-bottom: 3px;
  width:178px;
  -moz-user-select:none;
}

.dhtmlxcalendar_yahoolike .winTitle {
  color:#575757;
  font-size:12px;
  float:left;
  cursor: move;  
  width: 100px;
  margin-top: -1px;
  overflow: hidden;
}

.dhtmlxcalendar_yahoolike .btn_mini,
.dhtmlxcalendar_yahoolike .btn_maxi,
.dhtmlxcalendar_yahoolike .btn_close,
.dhtmlxcalendar_yahoolike .btn_today,
.dhtmlxcalendar_yahoolike .btn_clear {
  background: url(../imgs/__dhxCal_skin_Yahoolike/btns.gif) no-repeat;
  float:right;
  height:12px;
  width:12px;  
  margin-left: 1px;
}

.dhtmlxcalendar_yahoolike .btn_close {
    background-position: 0 0;
}

.dhtmlxcalendar_yahoolike .btn_today {
    background-position: -12px 0;
}

.dhtmlxcalendar_yahoolike .btn_clear {
    background-position: -24px 0;
}
.dhtmlxcalendar_yahoolike .btn_maxi {
    background-position: -36px 0;
}

.dhtmlxcalendar_yahoolike .btn_mini {
    background-position: -48px 0;
}
.dhtmlxcalendar_yahoolike .entbox{
	margin:3px 3px 3px 3px;
	width:172px;
}

.dhtmlxcalendar_yahoolike td {
	font-size: 9px;
	font-family: Arial, Helvetica, sans-serif;
}

.dhtmlxcalendar_yahoolike .dxcalmonth {
	background-color: #f7f9fb;
	border: 0px solid #e0e0e0;
}

.dhtmlxcalendar_yahoolike .dxcalmonth td.month_btn_left,
.dhtmlxcalendar_yahoolike .dxcalmonth td.month_btn_right {
	background: url(../img/__dhxCal_skin_Yahoolike/btns.gif) no-repeat;
	background-position: -60px 0;
	width: 7px;
}
.dhtmlxcalendar_yahoolike .dxcalmonth td.month_btn_right {
  background-position: -69px 0;
}

.dhtmlxcalendar_yahoolike .dxcaldlabel {
	border-width: 0px;
}
.dhtmlxcalendar_yahoolike .dxcaldlabel td,
.dhtmlxcalendar_yahoolike .dxcaldays td,
.dhtmlxcalendar_yahoolike .dxcaldays_ie td{
	font-size: 10pt;
	text-align: left;
	vertical-align: middle;
	width: 20px;
	height: 17px;
	color: #666;
}
.dhtmlxcalendar_yahoolike .dxcaldays_ie td{
	height: 18px;
}
.dhtmlxcalendar_yahoolike .dxcaldays td,
.dhtmlxcalendar_yahoolike .dxcaldays_ie td{
	border: 1px solid #e0e0e0;
	background-color: #fff;
	text-align: center;
	cursor: pointer;
}


.dhtmlxcalendar_yahoolike td.comma{
	visibility:hidden;
}

.dhtmlxcalendar_yahoolike .dxcalmonth table {
  margin: auto;
}

.dhtmlxcalendar_yahoolike div.planeMonth,
.dhtmlxcalendar_yahoolike div.planeYear {
	height: auto;
	overflow: auto;
	font-size:12px;
	font-weight: bold;
}
/* begin: days colors */
.dhtmlxcalendar_yahoolike td.thismonth{
	color:#003db8;
}

.dhtmlxcalendar_yahoolike td.othermonth{
	color:#999;
	background-color:#eee;
	visibility: visible;
}

.dhtmlxcalendar_yahoolike td.weekend{
	color:#003db8;
}

.dhtmlxcalendar_yahoolike td.insensitive{
	color:#ccc;
	font-style:italic;
	cursor: default;
}

.dhtmlxcalendar_yahoolike td.selected{
	border:1px solid white;
	background-color: lightblue;
	color: #ffffff;
}


.dhtmlxcalendar_yahoolike td.current{
	color: #00c;
	font-weight:bold !important;
}

.dhtmlxcalendar_yahoolike td.hover{
	border:1px solid #426FD9;
	background-color: #426FD9;
	color: white;
}

.dhtmlxcalendar_yahoolike td.holiday{ 
	font-weight:bold;
	color:#00c;
	text-decoration:underline;
}

/* end: days colors */

/* begin: dhtmlxRichSelector */
.dhtmlxcalendar_yahoolike div.dhtmlxRichSelector {
  position: relative;
  background-color:#ffffff;
  display: block;
  width: 1px;
  height: 1px;
}

.dhtmlxcalendar_yahoolike textarea.dhtmlxRichSelector,
.dhtmlxcalendar_yahoolike select.dhtmlxRichSelector {
  position: absolute;
  font-family: Arial;
  font-size: 10pt;
  overflow: hidden;
  border-width: 0px;
  z-index:100;
  left: 0px;
  top: 0px;
}

.dhtmlxcalendar_yahoolike select.dhtmlxRichSelector {
	border: 1px solid #7b9ebd;
}
/* end: dhtmlxRichSelector */
