/***************************************************************************************************************************************************************
								"CLEAR GREEN" dhtmlxMenu Skin
***************************************************************************************************************************************************************/

/*
	top level container
*/
table.dhtmlxMenu_clear_green_TBL {
	height: 31px;
	position: relative;
}
iframe.dhtmlxMenu_IE6CoverFix_clear_green {
	position: absolute;
	border: none;
	background: #000000;
	filter: alpha(opacity=100);
}

div.dhtmlxMenu_clear_green_Middle {
	position: relative;
	height: 31px;
	width: 100%;
	left: 0px;
	top: 0px;
	border: none;
	background-color: none;
	background-image: url(../img/dhxmenu_clear_green/bg_but.jpg);
	/*background-image: url("../imgs/dhxmenu_clear_green/dhtmlxmenu_top_bg_middle.gif");*/
	-moz-user-select: none;
}
table td.dhtmlxMenu_clear_green_Left {
	width: 7px;
	font-size: 2px;
	background-image: url("../imgs/dhxmenu_clear_green/dhtmlxmenu_top_bg_left.gif");
	background-repeat: no-repeat;
}
table td.dhtmlxMenu_clear_green_Right {
	width: 7px;
	font-size: 2px;
	background-image: url("../imgs/dhxmenu_clear_green/dhtmlxmenu_top_bg_right.gif");
	background-repeat: no-repeat;
}
/*
	top level items
*/
div.dhtmlxMenu_clear_green_TopLevel_Item_Normal {
	position: absolute;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	cursor: default;
	white-space: nowrap;
	-moz-user-select: none;
	height: 21px;
	height=27px;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 6px;
	margin: 1px;
	margin-top:3px;
}
div.dhtmlxMenu_clear_green_TopLevel_Item_Disabled {
	position: absolute;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #909090;
	cursor: default;
	white-space: nowrap;
	height: 21px;
	height=27px;
	-moz-user-select: none;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 6px;
	margin: 1px;
	margin-top:3px;
}
div.dhtmlxMenu_clear_green_TopLevel_Item_Selected {
	position: absolute;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	/* background-color: #648DB3; */
	cursor: default;
	color: #333333;
	white-space: nowrap;
	-moz-user-select: none;
	height: 19px;
	height=27px;
	/*background-image: url("../imgs/dhxmenu_clear_green/dhtmlxmenu_top_bg_over.gif");*/
	background-image: url(../img/dhxmenu_clear_green/bg_verd.gif);
	background-repeat: repeat-x;
	border-top:  1px solid #73D54A;
	border-left:  1px solid #73D54A;
	border-bottom:  1px solid #D3F3B4;
	border-right:  1px solid #D3F3B4;
	padding-left: 7px;
	padding-right: 7px;
	padding-top: 6px;
	margin-top:2px;
}
/*
	sub level polygon
*/
div.dhtmlxMenu_clear_green_SubLevelArea_Polygon {
	position: absolute;
	background-color: #D3F3B4;
	padding-top: 1px;
	overflow: hidden;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #59A950;
	border-bottom-color: #59A950;
}
/*
	separator
*/
div.dhtmlxMenu_clear_green_SubLevelArea_Separator {
	font-size: 1px;
	cursor: default;
	-moz-user-select: none;
	border-top: 1px solid #59A950;
	/*border-bottom: #FFFFFF 1px solid;*/
}
/*
	items
*/
div.dhtmlxMenu_clear_green_SubLevelArea_Item_Normal {
	position: relative;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	border-left: #59A950 1px solid;
	border-right: #59A950 1px solid;
	margin: 0px 0px 0px 0px;
	padding: 5px 28px 5px 28px;
	cursor: default;
	white-space: nowrap;
	-moz-user-select: none;
}
div.dhtmlxMenu_clear_green_SubLevelArea_Item_Disabled {
	position: relative;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #999999;
	background-color: #E6E5E5;
	margin: 0px 0px 0px 0px;
	padding: 5px 28px 5px 28px;
	border-left: #59A950 1px solid;
	border-right: #59A950 1px solid;
	cursor: default;
	white-space: nowrap;
	-moz-user-select: none;
}
div.dhtmlxMenu_clear_green_SubLevelArea_Item_Selected {
	position: relative;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #73D54A;
	margin: 0px 0px 0px 0px;
	padding: 5px 28px 5px 28px;
	border-left: #73D54A 1px solid;
	border-right: #73D54A 1px solid;
	cursor: default;
	white-space: nowrap;
	-moz-user-select: none;
}
/*
	hotkey
*/
div.dhtmlxMenu_clear_green_SubLevelArea_Item_HotKey {
	position: absolute;
	top: 6px;
	font-size: 10px;
	right: 8px;
	color: #606060;
}
/*
	arrow cascade (right, loading)
*/
img.dhtmlxMenu_clear_green_SubLevelArea_Item_Arrow {
	width: 4px;
	height: 7px;
	position: absolute;
	margin-top: 4px;
	right: 8px;
}
img.dhtmlxMenu_clear_green_SubLevelArea_Item_Arrow_Loading {
	width: 10px;
	height: 10px;
	position: absolute;
	margin-top: 1px;
	right: 6px;
}
/*
	icons (checkboxes and radios are use the same class)
*/
img.dhtmlxMenu_clear_green_TopLevel_Item_Icon {
	position: absolute;
	margin-top: -1px;
	left: 6px;
	width: 16px;
	height: 16px;
}
img.dhtmlxMenu_clear_green_SubLevelArea_Item_Icon {
	position: absolute;
	top: 3px;
	left: 6px;
	_left: -23px;
	width: 16px;
	height: 16px;
}
/*
	arrows limit (up, down)
*/
div.dhtmlxMenu_clear_green_SubLevelArea_Arrow {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #D3F3B4;
}
div.dhtmlxMenu_clear_green_SubLevelArea_ArrowUp {
	position: absolute;
	height: 16px;
	height=18px;
	padding-top: 1px;
	padding-left: 1px;
	padding-right: 1px;
	font-size: 1px;
	background-color: #D3F3B4;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #73D54A;
	border-right-color: #59A950;
	border-bottom-color: #73D54A;
	border-left-color: #73D54A;
}
div.dhtmlxMenu_clear_green_SubLevelArea_ArrowUp_Over {
	position: absolute;
	height: 16px;
	height=18px;
	padding-top: 1px;
	padding-left: 1px;
	padding-right: 1px;
	font-size: 1px;
	/*
	background-image: url("../imgs/dhxmenu_clear_green/dhtmlxmenu_arrow_bg_over.gif");
	background-repeat: repeat-x;
	/*
  	border-left: #B4B3B3 1px solid;
	border-right: #B4B3B3 1px solid;
	border-top: #B4B3B3 1px solid;
	*/
	background-color: #D3F3B4;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #73D54A;
	border-right-color: #59A950;
	border-bottom-color: #73D54A;
	border-left-color: #73D54A;
}
div.dhtmlxMenu_clear_green_SubLevelArea_ArrowUp_Disabled {
	position: absolute;
	height: 16px;
	height=18px;
	padding-top: 1px;
	padding-left: 1px;
	padding-right: 1px;
	font-size: 1px;
	/*
	background-color: #E6E5E5;
  	border-left: #B4B3B3 1px solid;
	border-right: #B4B3B3 1px solid;
	border-top: #B4B3B3 1px solid;
	*/
	background-color: #D3F3B4;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #73D54A;
	border-right-color: #59A950;
	border-bottom-color: #73D54A;
	border-left-color: #73D54A;
}
div.dhtmlxMenu_clear_green_SubLevelArea_ArrowUp div.dhtmlxMenu_clear_green_SubLevelArea_Arrow {
	background-image: url("../imgs/dhxmenu_clear_green/dhtmlxmenu_arrow_up.gif");
}
div.dhtmlxMenu_clear_green_SubLevelArea_ArrowUp_Over div.dhtmlxMenu_clear_green_SubLevelArea_Arrow {
	background-image: url("../imgs/dhxmenu_clear_green/dhtmlxmenu_arrow_up_over.gif");
}
div.dhtmlxMenu_clear_green_SubLevelArea_ArrowUp_Disabled div.dhtmlxMenu_clear_green_SubLevelArea_Arrow {
	background-image: url("../imgs/dhxmenu_clear_green/dhtmlxmenu_arrow_up_dis.gif");
}
div.dhtmlxMenu_clear_green_SubLevelArea_ArrowDown {
	position: absolute;
	height: 16px;
	height=18px;
	font-size: 1px;
	padding-top: 1px;
	padding-left: 1px;
	padding-right: 1px;
	background-color: #D3F3B4;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #73D54A;
	border-right-color: #59A950;
	border-bottom-color: #59A950;
	border-left-color: #73D54A;
}
div.dhtmlxMenu_clear_green_SubLevelArea_ArrowDown_Over {
	position: absolute;
	/*
	background-image: url("../imgs/clear_blue/dhtmlxmenu_arrow_bg_over.gif");
	background-repeat: repeat-x;
	*/
	height: 16px;
	height=18px;
	font-size: 1px;
	padding-top: 1px;
	padding-left: 1px;
	padding-right: 1px;
	background-color: #D3F3B4;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #73D54A;
	border-right-color: #59A950;
	border-bottom-color: #59A950;
	border-left-color: #73D54A;
}
div.dhtmlxMenu_clear_green_SubLevelArea_ArrowDown_Disabled {
	position: absolute;
	height: 16px;
	height=18px;
	font-size: 1px;
	padding-top: 1px;
	padding-left: 1px;
	padding-right: 1px;
	background-color: #D3F3B4;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #73D54A;
	border-right-color: #59A950;
	border-bottom-color: #59A950;
	border-left-color: #73D54A;
}
div.dhtmlxMenu_clear_green_SubLevelArea_ArrowDown div.dhtmlxMenu_clear_green_SubLevelArea_Arrow {
	background-image: url("../imgs/dhxmenu_clear_green/dhtmlxmenu_arrow_down.gif");
}
div.dhtmlxMenu_clear_green_SubLevelArea_ArrowDown_Over div.dhtmlxMenu_clear_green_SubLevelArea_Arrow {
	background-image: url("../imgs/dhxmenu_clear_green/dhtmlxmenu_arrow_down_over.gif");
}
div.dhtmlxMenu_clear_green_SubLevelArea_ArrowDown_Disabled div.dhtmlxMenu_clear_green_SubLevelArea_Arrow {
	background-image: url("../imgs/dhxmenu_clear_green/dhtmlxmenu_arrow_down_dis.gif");
}