/*light*/
div.gridbox_dhx_blue {
	border:1px solid #73D54A;
}
div.gridbox_dhx_blue .xhdr{
	background-image:url(../img/dhtmlxgrid/dhxgrid_dhx_blue/hdr.png);
}
div.gridbox_dhx_blue .xhdr_last{
	/*border: 1px solid;
	border-color : #FDFDFD #93AFBA #93AFBA #FDFDFD;*/
}
div.gridbox_dhx_blue table.hdr{
	background-image:url(../img/dhtmlxgrid/dhxgrid_dhx_blue/hdr.png);
}

div.gridbox_dhx_blue table.hdr td {
	/*border: 1px solid;
	border-color : #FDFDFD #93AFBA #93AFBA #FDFDFD;*/
	background-image: url(../img/bg_tabla.jpg);
	background-repeat: repeat-x;
	background-color:transparent;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	color:#FFFFFF;
	vertical-align:top;
	text-align:left;
}
div.gridbox_dhx_blue table.hdr td div.hdrcell{
	xwidth:auto;
	padding-left:10px;
}
div.gridbox_dhx_blue table.hdr .filter{
	padding-left:0px !important;
	text-align:center;
	-moz-user-select:text;
}
div.gridbox_dhx_blue table.obj td {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	padding-right:4px;
	padding-left:4px;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #D3F3B4;
	border-left-color: white;
}
div.gridbox_dhx_blue table.obj{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #73D54A;
}
div.gridbox_dhx_blue table.row20px tr td {
	padding-right:4px;
	padding-left:4px;
}
div.gridbox_dhx_blue .dhx_combo_edit{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
}
div.gridbox_dhx_blue table.obj tr.rowselected td{
	background-color:#73D54A;
	color:black;
	}
div.gridbox_dhx_blue table.obj tr.rowselected td.cellselected, div.gridbox_dhx_blue table.obj td.cellselected {
	background-color:#73D54A;
	}
div.gridbox_dhx_blue .odd_dhx_blue{
	background-color:#EFEFEF;
}

div.gridbox_dhx_blue div.ftr td {
	empty-cells:show;
}

