/* MAIN OBJ */
div.dhx_acc_base_dhx_blue {
	overflow: hidden;
	background-color:#EDFAE1;
	/*
	border-top: #609BCA 1px solid;
	border-left: #609BCA 1px solid;
	border-right: #C2D9EB 1px solid;
	border-bottom: none;
	*/
}

/* SINGLE ITEM */
div.dhx_acc_item_dhx_blue {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-bottom: 1px;
}
div.dhx_acc_item_hidden_dhx_blue {
	display: none;
}
/* label */
div.dhx_acc_item_dhx_blue div.dhx_acc_item_label_dhx_blue {
	position: relative;
	color: #666666;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 22px;
	line-height: 20px;
	border: 1px solid #D3F3B4;
	vertical-align: middle;
	overflow: hidden;
	background-image: url("../img/bg_it.jpg");
	background-position: top;
	background-repeat: repeat-x;
	-moz-user-select: none;
	cursor: default;
	padding-left: 4px;
	padding-right: 4px;
}
/* icon */
div.dhx_acc_item_dhx_blue div.dhx_acc_item_label_dhx_blue img.dhx_acc_item_icon_dhx_blue {
	position: absolute;
	width: 16px;
	height: 16px;
	right: 4px;
	top: 3px;
}
/* content */
div.dhx_acc_item_dhx_blue div.dhx_acc_item_content_opened_dhx_blue {
	width: 100%;
	overflow: hidden;
	position: relative;
	border-bottom: #D3F3B4 1px solid;
	margin-top: 1px;
	margin-top: 1px;
}
div.dhx_acc_item_dhx_blue div.dhx_acc_item_content_opened_dhx_blue div.dhtmlx_wins_body_content {
	position: relative;
}
div.dhx_acc_item_dhx_blue div.dhx_acc_item_content_closed_dhx_blue {
	display: none;
}
/* accordion attached to window */
.dhtmlxAccordionAttached {
	border: none !important;
}
div.dhx_acc_item_dhx_blue div.dhtmlxWindowMainContent {
	margin-top: 1px;
	margin-bottom: 1px;
}
/* inner window */
div.dhx_acc_item_dhx_blue div.dhx_acc_item_content_opened_dhx_blue div.dhtmlxWindowMainContent {
	background-color: #FFFFFF;
	border: 1px solid #D3F3B4;
}
.dhxAccordLabelIEFix_dhx_blue {
	height: 24px;
	line-height: 18px;
}
.dhxAccordPolyIEFix_dhx_blue {
	padding-bottom: 2px;
	padding-right: 2px;
}
/* tabbar */
div.dhx_acc_item_dhx_blue div.dhx_tabbar_row {
	background-color: #EDFAE1;
}