@CHARSET "UTF-8";
.main {
	text-align: center;
}

.boldie {
	font-weight: bold;
}

.title {
	text-shadow: none;
	font-size: 15pt;
	#font-family:"locator";
}

.message {
	background-color : #96c11f;
	border-radius: 5px;
	padding: 5px;
	cursor: pointer;
	color: #ffffff;
}

.hline {
	color: #96c11f;
	height: 3px;
	background-color: #96c11f;
	border: 0;
}

h1 {
	font-size: 20pt;
}

.message .theTitle {
	font-size: 20px;
}

.message .theMessage {
	font-size: 15px;	
}