body {
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

#bg_login{
	width: 808px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background-image: url(/MidasWeb/img/bg_textur.png);
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	text-align: center;
}


#page_login {
	width: 808px;
	margin-top: 50px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	text-align: left;
}

#encabezado_bg_login {
    width: 808px;
    background-image: url(/MidasWeb/img/head_bg_login.png);
    background-repeat: no-repeat;
    background-position: top;
    height: 28px;
}

#cont_bg_login {
	width: 808px;
	background-image: url(/MidasWeb/img/cont_bg_login.png);
	background-repeat: repeat-y;
	background-position: top;
	height: 414px;
}

#encabezado1 {
    height: 50px;
    background-color: #01AA4F;
}

.logoASlogin {
	background-image: url(/MidasWeb/img/logo_AS_login.jpg);
	background-repeat: no-repeat;
	height: 49px;
	width: 258px;
	margin-left: 20px;
}
.bg_gris {
	background-image: url(/MidasWeb/img/bg_gris.jpg);
	background-repeat: repeat-x;
	height: 314px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.info_login {
	display: inline;
	float: left;
	margin-left: 20px;
	margin-top: 29px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	width: 250px;
}
.logomidas {
	background-image: url(/MidasWeb/img/logo_midas_login.png);
	background-repeat: no-repeat;
	height: 63px;
	width: 172px;
}

.info_login h1{
	font-size: 16px;
	color: #333333;
}
.img_login {
	float: right;
	background-image: url(/MidasWeb/img/img_login.png);
	background-repeat: no-repeat;
	height: 291px;
	width: 450px;
	margin-top: 29px;
	margin-right: 10px;
	margin-left: 10px;
}
.cont_login {
	width: 800px;
	margin-right: 5px;
	margin-left: 3px;
}

#pie_bg_login {
	width: 808px;
	background-image: url(/MidasWeb/img/pie_bg_login.png);
	background-repeat: no-repeat;
	background-position: top;
	height: 10px;
}

.info_login p {
	font-size: 10px;
	color: #666666;
}
.cajaTexto_login {
	border: 1px solid #CCCCCC;
	text-transform: uppercase;
	width: 100%;
	font-size: 10px;
	padding-left: 3px;
}

/* Borrar */
.b_borrar {
	display: block;
	width: 70px;
	float: left;
	background-image: url(/MidasWeb/img/bg1.png);
	background-repeat: repeat-x;
	background-position: bottom;
}

.b_borrar a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7.5pt;
	font-weight: bold;
	color: #666666;
	text-align: center;
	vertical-align: middle;
	line-height: 15px;
	display: block;
	text-decoration: none;
	background-image: url(/MidasWeb/img/b_borrar.gif);
	background-repeat: no-repeat;
	background-position: right 50%;
	height: 18px;
	padding-right: 15px;
	padding-left: 5px;
	border: 1px solid #CCCCCC;
}

.b_borrar a:hover {
	color: #006600;
	border: 1px solid #999999;
}

/* Borrar */
.b_entrar {
	display: block;
	width: 70px;
	float: left;
	background-image: url(/MidasWeb/img/bg1.png);
	background-repeat: repeat-x;
	background-position: bottom;
}

.b_entrar a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7.5pt;
	font-weight: bold;
	color: #666666;
	text-align: center;
	vertical-align: middle;
	line-height: 15px;
	display: block;
	text-decoration: none;
	background-image: url(/MidasWeb/img/b_borrar.gif);
	background-repeat: no-repeat;
	background-position: right 50%;
	height: 18px;
	padding-right: 15px;
	padding-left: 5px;
	border: 1px solid #CCCCCC;
}

.b_entrar a:hover {
	color: #006600;
	border: 1px solid #999999;
}
.der{
	float: right;
	margin-left: 5px;
}

.txt_der{
	text-align: right;
}

.link01 a{
	font-size: 9px;
	color: #666666;
	font-weight: bold;
	cursor:hand;
}
.link01 a:hover{
	font-size: 9px;
	color: #333333;
}
.link01 {
	font-size: 9px;
	color: #666666;
	font-weight: bold;
	text-align: right;
}