/*======PAGING. BRICKS SKIN=========*/
.dhx_pbox{
	margin-top:3px;
	border:1px solid #D4D0C8;
	border-top: 0px;
	font-size:10px;
}
.dhx_pline{
	background-color:white;
	margin: -15px 10px 10px 10px;
	padding:0px 5px 0px 5px;
	float:left;
}

.dhx_page, .dhx_pager_info{
	margin:3px;
	text-align:center;
	font-family: tahoma;
	font-size:12px;
	float:left;
	cursor:pointer;
	color:black;
	background-color:gray;
	padding:1px;
}
.dhx_pager_info{
	white-space:nowrap;
	background-color:white;
	margin: -8px 10px 10px 10px;
	padding: 0px 5px 0px 5px;
}

.dhx_page div{
	background-color:white;
	width:16px;
	height:17px;
	vertical-align:middle;
}
div.dhx_page_active{
	font-weight:bold;
	background-color:lightgrey;
	cursor:default;
	color:white;
}

/* for modern grid skin */
.dhx_pbox_modern{
	margin-top:3px;
	border:1px solid #D6D6D6;
	border-top: 0px;
	font-size:10px;
}
.dhx_pline_modern{
	background-color:white;
	margin: -15px 10px 10px 10px;
	padding:0px 5px 0px 5px;
	float:left;
}

.dhx_page_modern, .dhx_pager_info_modern{
	margin:3px;
	text-align:center;
	font-family: tahoma;
	font-size:12px;
	float:left;
	cursor:pointer;
	color:#055A78;
	background-color:#D6D6D6;
	padding:1px;
}
.dhx_pager_info_modern{
	white-space:nowrap;
	background-color:white;
	margin: -8px 10px 10px 10px;
	padding: 0px 5px 0px 5px;
}

.dhx_page_modern div{
	background-color:white;
	width:16px;
	height:17px;
	vertical-align:middle;
}
div.dhx_page_active_modern{
	font-weight:bold;
	background-color:#055A78;
	cursor:default;
	color:white;
}

/* light grid skin*/
.dhx_pbox_light{
	margin-top:0px;
	border-top: 0px;
	font-size:1px;
}
.dhx_pline_light{
	background-color:white;
	margin: 0px;
	padding:0px;
	float:left;
}

.dhx_page_light, .dhx_pager_info_light{
	margin:3px;
	text-align:center;
	font-family: tahoma;
	font-size:10px;
	float:left;
	cursor:pointer;
	color:black;
	background-color:#72D24C;
	padding:1px;
}
.dhx_pager_info_light{
	white-space:nowrap;
	background-color:white;
	margin: 0px;
	padding: 5px;
}

.dhx_page_light div{
	background-color:white;
	width:16px;
	height:15px;
	vertical-align:middle;
}
div.dhx_page_active_light{
	font-weight:bold;
	background-color:#72D24C;
	cursor:default;
	color:white;
}