/* Imprimir */
#b_imprimirProgramaPago {
	display: block;
	width: 140px;
	float: left;
	background-image: url('../img/bg1.png');
	background-repeat: repeat-x;
	background-position: center bottom;
	margin-right: 4px;
}

#b_imprimirProgramaPago a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7.5pt;
	font-weight: bold;
	color: #666;
	text-align: center;
	vertical-align: middle;
	line-height: 15px;
	display: block;
	text-decoration: none;
	background-image: url('../img/b_printer.gif');
	background-repeat: no-repeat;
	background-position: right 50%;
	height: 18px;
	padding-right: 15px;
	padding-left: 5px;
	border: 1px solid #CCC;
}

#b_imprimirProgramaPago a:hover {
	color: #006600;
	border: 1px solid #999999;
}

/* Previo de Recibos */
#b_previoDeRecibos {
	display: block;
	width: 180px;
	float: left;
	background-image: url('../img/bg1.png');
	background-repeat: repeat-x;
	background-position: center bottom;
	margin-right: 4px;
}

#b_previoDeRecibos a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7.5pt;
	font-weight: bold;
	color: #666;
	text-align: center;
	vertical-align: middle;
	line-height: 15px;
	display: block;
	text-decoration: none;
	background-image: url('../img/b_aceptar.gif');
	background-repeat: no-repeat;
	background-position: right 50%;
	height: 18px;
	padding-right: 15px;
	padding-left: 5px;
	border: 1px solid #CCC;
}

#b_previoDeRecibos a:hover {
	color: #006600;
	border: 1px solid #999999;
}

/* Agregar Recibos */
#b_agregarRecibo {
	display: block;
	width: 220px;
	float: left;
	background-image: url('../img/bg1.png');
	background-repeat: repeat-x;
	background-position: center bottom;
	margin-right: 4px;
}

#b_agregarRecibo a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7.5pt;
	font-weight: bold;
	color: #666;
	text-align: center;
	vertical-align: middle;
	line-height: 15px;
	display: block;
	text-decoration: none;
	background-image: url('../img/b_aceptar.gif');
	background-repeat: no-repeat;
	background-position: right 50%;
	height: 18px;
	padding-right: 15px;
	padding-left: 5px;
	border: 1px solid #CCC;
}

#b_agregarRecibo a:hover {
	color: #006600;
	border: 1px solid #999999;
}
/* Guardar Recibos */
#b_guardarRecibos {
	display: block;
	width: 220px;
	float: left;
	background-image: url('../img/bg1.png');
	background-repeat: repeat-x;
	background-position: center bottom;
	margin-right: 4px;
}

#b_guardarRecibos a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7.5pt;
	font-weight: bold;
	color: #666;
	text-align: center;
	vertical-align: middle;
	line-height: 15px;
	display: block;
	text-decoration: none;
	background-image: url('../img/b_aceptar.gif');
	background-repeat: no-repeat;
	background-position: right 50%;
	height: 18px;
	padding-right: 15px;
	padding-left: 5px;
	border: 1px solid #CCC;
}

#b_guardarRecibos a:hover {
	color: #006600;
	border: 1px solid #999999;
}

/* Recuotificar */
#b_recuotificar {
	display: block;
	width: 220px;
	float: left;
	background-image: url('../img/bg1.png');
	background-repeat: repeat-x;
	background-position: center bottom;
	margin-right: 4px;
}

#b_recuotificar a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7.5pt;
	font-weight: bold;
	color: #666;
	text-align: center;
	vertical-align: middle;
	line-height: 15px;
	display: block;
	text-decoration: none;
	background-image: url('../img/b_aceptar.gif');
	background-repeat: no-repeat;
	background-position: right 50%;
	height: 18px;
	padding-right: 15px;
	padding-left: 5px;
	border: 1px solid #CCC;
}

#b_recuotificar a:hover {
	color: #006600;
	border: 1px solid #999999;
}


/* Cargar Programa original */
#b_cargarPPoriginal {
	display: block;
	width: 220px;
	float: left;
	background-image: url('../img/bg1.png');
	background-repeat: repeat-x;
	background-position: center bottom;
	margin-right: 4px;
}

#b_cargarPPoriginal a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7.5pt;
	font-weight: bold;
	color: #666;
	text-align: center;
	vertical-align: middle;
	line-height: 15px;
	display: block;
	text-decoration: none;
	background-image: url('../img/b_aceptar.gif');
	background-repeat: no-repeat;
	background-position: right 50%;
	height: 18px;
	padding-right: 15px;
	padding-left: 5px;
	border: 1px solid #CCC;
}

#b_cargarPPoriginal a:hover {
	color: #006600;
	border: 1px solid #999999;
}

/* Agregar Programa de pago */
#b_agregarProgramaPago {
	display: block;
	width: 220px;
	float: right;
	background-image: url(../img/bg1.png);
	background-repeat: repeat-x;
	background-position: bottom;
}

#b_agregarProgramaPago a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7.5pt;
	font-weight: bold;
	color: #666;
	text-align: center;
	vertical-align: middle;
	line-height: 15px;
	display: block;
	text-decoration: none;
	background-image: url('../img/b_aceptar.gif');
	background-repeat: no-repeat;
	background-position: right 50%;
	height: 18px;
	padding-right: 15px;
	padding-left: 5px;
	border: 1px solid #CCC;
}

#b_agregarProgramaPago a:hover {
	color: #006600;
	border: 1px solid #999999;
}

/* Cargar Programa original */
#b_cargarOriginal {
	display: block;
	width: 230px;
	float: right;
	background-image: url(../img/bg1.png);
	background-repeat: repeat-x;
	background-position: bottom;
}

#b_cargarOriginal a {
	display: block;
	text-decoration: none;
	background-image: url(../img/b_aceptar.gif);
	background-repeat: no-repeat;
	background-position: right 50%;
	height: 20px; text-align : center; vertical-align : middle;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 7.5pt;
	color: #666666;
	padding-right: 15px;
	padding-left: 5px;
	font-weight: bold;
	border: 1px solid #CCCCCC;
	text-align: center;
	vertical-align: middle;
}

#b_cargarOriginal a:hover {
	color: #006600;
	border: 1px solid #999999;
}