.well{
	background-color: #FFFFFF;
}

.tab-content{
	border-right:1px solid #CCC;
	border-bottom:1px solid #CCC;
	border-left:1px solid #CCC;
}

.modal-body{
	padding-top: 0;
	overflow: hidden;
}

.modal-bodyCustom{
	padding-top: 0;
	overflow: hidden;
}

.label-PAGADO{
	background-color: #5cb85c;
}

.label-EMITIDO{
	background-color: #f0ad4e;
}

iframe{
	border: none;
}

.modal-backdrop {
   background-color: white;
}

.page-header{
	margin: 0 !important;
	padding-top: 0;
}

.page-header{
	border-bottom: 0px;
}

#siglasRFC {
	text-transform: uppercase;
}

#homoClaveRFC {
	text-transform: uppercase;
}