.logo {
	width: 100%;
	max-width: 600px;
	border-radius: 5px;
}

.datepicker {
	cursor: pointer !important;
	background-color: #ffffff !important;
}

.form-group .error-label {
	display: none;
}

.form-group.has-error .error-label {
	display: block;
}

.table .form-group label {
	font-weight: normal;
	font-size: 10px;
}

.header-round {
	border-radius: 5px;
}

.well legend a {
	font-size: 14px;
}

button#nextBtnEmt {
	width: 170px;
}